<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hdp="http://www.springframework.org/schema/hadoop"
       xmlns:oxm="http://www.springframework.org/schema/oxm"
       xmlns:utils="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd

       http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
       http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm.xsd   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">


    <hdp:configuration>
        <![CDATA[
        xmlinput.start=<page>
        xmlinput.end=</page>
        ]]>
    </hdp:configuration>

    <utils:properties id="xml-to-avro-job-props">
        <prop key="avro.schema.output.key">#{T(no.uis.bigdata.hadoop.common.model.avro.Page).Schema}</prop>
        <prop key="xml.class.input.key">no.uis.bigdata.hadoop.common.model.jaxb.Page</prop>
    </utils:properties>
    <hdp:job id="xml-to-avro-job"
             properties-ref="xml-to-avro-job-props"
             output-format="org.apache.avro.mapreduce.AvroKeyOutputFormat"
             input-format="no.uis.bigdata.hadoop.xml.xmlreader.XmlValueInputFormat"
             input-path="${input.path.xml}"
             compress-output="true"
             output-path="${output.path}#{T(java.util.Calendar).getInstance().getTimeInMillis()}"
             mapper="no.uis.bigdata.hadoop.xml.mapreduce.MapClass"
             reducer="no.uis.bigdata.hadoop.xml.mapreduce.Reduce"
            />

</beans>