<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%p - %C{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>


    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache.hadoop">
        <level value="ALL"/>
    </logger>

    <logger name="no.uis">
        <level value="ERROR"/>
    </logger>

    <root>
        <level value="ALL"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
